@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
    --main-background: #e0def4;
    --secondary-background: #ebbcba;
    --main-text: #26233a;
    --secondary-text: #555169;
    --textarea-background: #f2e9de;
    --delete-button: #eb6f92;
}

/* Zeroing */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background);
}

/* General text rules */

p, a, li {
    color: var(--main-text);
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-text);
    text-decoration: underline;
}

nav {
    background-color: var(--secondary-background);
    text-align: right;
    padding: 15px;
}

nav>ul {
    list-style: none;
}

.nav>li {
    display: inline;
    margin: 0 10px;
}

/* Create 3 columns for our main section */

.wrapper {
    display: grid;
    grid-auto-rows: 200px;
    grid-template-areas: "b a a ." "b a a .";
}

/* Make the "+ create new note" button reside in the center of the main section */

.new-note {
    grid-area: a;
    align-self: center;
    justify-self: center;
    margin-left: -45px;
    /* Janky, undo padding which the burger menu gave */
}

.new-note>p {
    padding-top: 8px;
    display: inline-block;
}

.new-note>textarea {
    padding-top: 5px;
    padding-left: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--textarea-background);
    color: var(--secondary-text);
    margin-top: 300px;
    border: none;
}

.new-note>textarea:focus {
    outline: 3px solid var(--secondary-background);
}

.use-desktop {
    display: none;
}

.note-buttons {
    margin-top: 5px;
    text-align: right;
}

.note-buttons>a {
    padding: 10px 10px;
}

.note-buttons>.delete {
    color: var(--delete-button);
}

/* plus sign class based off of: https://stackoverflow.com/a/55281827/4379311 */

.plus {
    width: 40px;
    height: 40px;
    background: linear-gradient(var(--main-text), var(--main-text)), linear-gradient(var(--main-text), var(--main-text)), var(--main-background);
    background-position: center;
    background-size: 50% 2px, 2px 50%;
    background-repeat: no-repeat;
    float: left;
}

.hamburger-button {
    grid-area: b;
    padding-left: 10px;
}

.hamburger-menu {
    grid-area: b;
    text-align: center;
    background-color: var(--textarea-background);
    min-height: 90vh;
}

.hamburger-menu>p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.note-list {
    list-style-type: disc;
}

/* Three lines stacked will create hamburger icon */

.line {
    width: 30px;
    height: 4px;
    background-color: var(--secondary-text);
    margin: 6px 0;
}

footer {
    background-color: var(--secondary-background);
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 15px;
}

@media (max-width: 600px) {
    .new-note {
        display: none;
    }
    .use-desktop {
        display: block;
    }
}